nav{
width: 100%;
background-color: $rose;
display: flex;
flex-wrap: wrap;
justify-content: left;
align-items: center;
box-sizing: border-box;

padding: 0.9vh 4em;

    

            img{
                 width: 2em;
                cursor: pointer;
        
        
            }

        ul {
            display: flex;
            flex-direction: row;
           
            padding-left: 1.7em;

            
            li{
                display: flex;
                margin: 0 0.8vh;
                font-size: 0.9em;
                letter-spacing: -0.05em;
                
                
            }

            .nav_elements a{
                text-decoration: none;    
                color: $blanc;
                border-bottom: 1px solid $rose;
                
                
            }
            
        }

    

}




